<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<style type="text/css">
 body { background: #7FF689 !important; }
 #header { color: #35B24B; }
 #finder { color: #35B24B; }
 text:focus, input:focus, input[type]:focus, .uneditable-input:focus {
    border-color: rgba(229, 103, 23, 0.8);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
    outline: 0 none;
}
</style>
  </head>
  <body>
    <div class = "container">
      <div class="vertical-center-row">
        <div align="center">
    {{{body}}}
  </div>
  </div>
</div>
  </body>
</html>
